//***************************
//***************************
// Variables
//***************************
//**************************

:root {
	// Fonts
	--fira: 'Fira Code';
	--heading: 'Fira Code';
	--text: 'Fira Code';

	// Colors
	--color1: #3768dc;
	--color3: #b12663;

	// Easing
	--easing: cubic-bezier(1, -0.01, 0, 0.96);
}
